.RepImage {
    height: 100px;
    width: 115px;
    border-radius: 50%;
    padding: 2%;
}
Dialog {
    position: relative;
    left: 50%;
    top: 1% !important;
    margin-left: -150px;
    margin-right: -150px;

}

element.style {
    top: 0px;
}

#close {
    float: right;
    background-color: lightgrey;
}

#DialogContent {
    overflow-y: auto;
}