/*Styles the image of the representatives*/
.RepImage {
    height: 100px;
    width: 115px;
    border-radius: 50%;
    padding: 2%;
    text-align: center;
}

/*styles the dialog box*/
Dialog {
    position: relative;
    left: 50%;
    top: 1% !important;
    margin-left: -150px;
    margin-right: -150px;
    height: 90%;
    width: 30%;
    overflow-y: scroll;
}

.emailTitle{
    text-align: left;
}

/*styles the x button to close*/
#close {
    float: right;
    background-color: lightgrey;
    margin: 4%;
}

.drawer {
    color: black;
}

#heading2 {
    font-family: Blippo, fantasy; 
}

#p1 {
    font-size: 2em;
}

#p2 {
    font-size: 1.2em;
}

#yellow {
    color: yellow;
}

#red {
    color: red;
}

#blue {
    color: cornflowerblue;
}

#teal {
    color: teal;
}

 .whiteLink:link {
    color: white;
}

.whiteLink:visited {
    color: white;
}

.whiteLink:active {
    color: white;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

.selectForm {
    padding:1%;
}